USE [master]
GO
/****** Object:  Database [Hospital]    Script Date: 29/11/2018 11:23:55 p. m. ******/
CREATE DATABASE [Hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Hospital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Hospital_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hospital]
GO
USE [Hospital]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 29/11/2018 11:23:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[EmpleadoID] [int] NOT NULL,
	[Nombres] [varchar](80) NULL,
	[Sexo] [char](1) NULL,
	[Tipodesangre] [char](1) NULL,
	[Direccion] [varchar](250) NULL,
	[fechadenacimiento] [datetime] NULL,
	[Horario] [varchar](30) NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horario]    Script Date: 29/11/2018 11:23:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario](
	[HorarioID] [int] NOT NULL,
	[Empleadoid] [int] NULL,
	[HospitalID] [int] NULL,
 CONSTRAINT [PK_Horario] PRIMARY KEY CLUSTERED 
(
	[HorarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 29/11/2018 11:23:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospital](
	[HospitalID] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Direccion] [varchar](250) NULL,
	[EmpleadoID] [int] NULL,
	[PacienteID] [int] NULL,
	[PrestadoradesaludID] [int] NULL,
 CONSTRAINT [PK_Hospital] PRIMARY KEY CLUSTERED 
(
	[HospitalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 29/11/2018 11:24:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[PacienteID] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Telefono] [float] NULL,
	[Email] [varchar](50) NULL,
	[Tipodesangre] [char](1) NULL,
	[Direccion] [varchar](250) NULL,
	[Fechadenacimiento] [datetime] NULL,
	[EmpleadoID] [int] NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[PacienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestadora de salud]    Script Date: 29/11/2018 11:24:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestadora de salud](
	[PrestadoradesaludID] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Tipodebeneficio] [varchar](50) NULL,
	[PacienteID] [int] NULL,
 CONSTRAINT [PK_Prestadora de salud] PRIMARY KEY CLUSTERED 
(
	[PrestadoradesaludID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Empleados] ([EmpleadoID], [Nombres], [Sexo], [Tipodesangre], [Direccion], [fechadenacimiento], [Horario]) VALUES (1, N'Marcos', N'H', N'O', N'Av.isabel', CAST(N'2018-03-13T00:00:00.000' AS DateTime), N'mañana')
INSERT [dbo].[Empleados] ([EmpleadoID], [Nombres], [Sexo], [Tipodesangre], [Direccion], [fechadenacimiento], [Horario]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL)
ALTER TABLE [dbo].[Horario]  WITH CHECK ADD  CONSTRAINT [FK_Horario_Hospital] FOREIGN KEY([HorarioID])
REFERENCES [dbo].[Hospital] ([HospitalID])
GO
ALTER TABLE [dbo].[Horario] CHECK CONSTRAINT [FK_Horario_Hospital]
GO
ALTER TABLE [dbo].[Hospital]  WITH CHECK ADD  CONSTRAINT [FK_Hospital_Empleados] FOREIGN KEY([HospitalID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [dbo].[Hospital] CHECK CONSTRAINT [FK_Hospital_Empleados]
GO
ALTER TABLE [dbo].[Hospital]  WITH CHECK ADD  CONSTRAINT [FK_Hospital_Paciente] FOREIGN KEY([HospitalID])
REFERENCES [dbo].[Paciente] ([PacienteID])
GO
ALTER TABLE [dbo].[Hospital] CHECK CONSTRAINT [FK_Hospital_Paciente]
GO
ALTER TABLE [dbo].[Prestadora de salud]  WITH CHECK ADD  CONSTRAINT [FK_Prestadora de salud_Paciente] FOREIGN KEY([PrestadoradesaludID])
REFERENCES [dbo].[Paciente] ([PacienteID])
GO
ALTER TABLE [dbo].[Prestadora de salud] CHECK CONSTRAINT [FK_Prestadora de salud_Paciente]
GO
USE [master]
GO
